# Filtering and cleaning of dataframe to save for use

Load packages

In [1]:
## Only run this block the first time you run the script 
# pip install xlrd
# pip install openpyxl

In [2]:
# Packages and libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Load initial data

In [3]:
# Data 
df = pd.read_excel("data_academic_performance.xlsx")

# settings to display all columns
pd.set_option("display.max_columns", None)

# display the dataframe head
# df.head()

In [4]:
# Dropping irrelevant columns and saving the dataframe
df.drop(["Unnamed: 9","COD_S11", "EDU_FATHER" ,"EDU_MOTHER" ,"OCC_FATHER" ,"OCC_MOTHER" ,"SISBEN" ,"PEOPLE_HOUSE" ,"INTERNET" ,"TV" ,"COMPUTER" ,"WASHING_MCH" ,"MIC_OVEN" ,"CAR" ,"DVD" ,"FRESH" ,"PHONE" ,"MOBILE" ,"REVENUE" ,"JOB" ,"SCHOOL_NAME" ,"SCHOOL_NAT" ,"SCHOOL_TYPE" ,"MAT_S11" ,"BIO_S11","Cod_SPro" ,"UNIVERSITY" ,"ACADEMIC_PROGRAM" ,"QR_PRO","WC_PRO" ,"FEP_PRO" ,"G_SC" ,"PERCENTILE" ,"2ND_DECILE" ,"QUARTILE" ,"SEL" ,"SEL_IHE"] , inplace=True, axis=1)

In [5]:
# mean score of highschool and of college
df["COL_GRADE_AVG"] = df[["CR_PRO", "CC_PRO", "ENG_PRO"]].mean(axis=1)
df["HI_GRADE_AVG"] = df[["CR_S11", "CC_S11", "ENG_S11"]].mean(axis=1)

In [6]:
# Replace spaces in stratum values with '_'
df.replace(' ','_',regex=True,inplace=True)

In [7]:
# Creating the dummy columns of Female and Male
df_one = pd.get_dummies(df["GENDER"])

# Females equals 1 and Men 0
df["GENDER_bin"] = df_one.F

#final df
df

,GENDER,STRATUM,CR_S11,CC_S11,ENG_S11,CR_PRO,CC_PRO,ENG_PRO,COL_GRADE_AVG,HI_GRADE_AVG,GENDER_bin
0,F,Stratum_4,81,61,82,93,71,93,85.666667,74.666667,1
1,F,Stratum_5,75,66,88,38,86,98,74.000000,76.333333,1
2,M,Stratum_2,49,38,42,1,18,43,20.666667,43.000000,0
3,F,Stratum_2,55,51,73,35,76,80,63.666667,59.666667,1
4,M,Stratum_4,65,76,92,94,98,100,97.333333,77.666667,0
...,...,...,...,...,...,...,...,...,...,...,...
12406,M,Stratum_2,69,70,81,71,86,87,81.333333,73.333333,0
12407,M,Stratum_2,57,61,53,39,44,11,31.333333,57.000000,0
12408,M,Stratum_2,69,75,58,88,90,81,86.333333,67.333333,0
12409,F,Stratum_3,69,64,52,80,51,8,46.333333,61.666667,1
12410,M,Stratum_3,65,62,73,95,91,79,88.333333,66.666667,0

In [8]:
df.to_csv("df_sum_score.csv")

# Normalized dataframe
Rescale the feature to range [0;1] by subtracting the minimum value of the feature then dividing by the range.

In [9]:
#apply normalization to filtered original dataframe
dfn = df.copy()

# apply normalization techniques
for column in dfn.columns:
    try:
        dfn[column] = (dfn[column] - dfn[column].min()) / (dfn[column].max() - dfn[column].min()) 
    except:
        pass

#view normalized data
dfn

,GENDER,STRATUM,CR_S11,CC_S11,ENG_S11,CR_PRO,CC_PRO,ENG_PRO,COL_GRADE_AVG,HI_GRADE_AVG,GENDER_bin
0,F,Stratum_4,0.750000,0.61,0.756757,0.929293,0.707071,0.929293,0.855219,0.657658,1.0
1,F,Stratum_5,0.671053,0.66,0.837838,0.373737,0.858586,0.979798,0.737374,0.680180,1.0
2,M,Stratum_2,0.328947,0.38,0.216216,0.000000,0.171717,0.424242,0.198653,0.229730,0.0
3,F,Stratum_2,0.407895,0.51,0.635135,0.343434,0.757576,0.797980,0.632997,0.454955,1.0
4,M,Stratum_4,0.539474,0.76,0.891892,0.939394,0.979798,1.000000,0.973064,0.698198,0.0
...,...,...,...,...,...,...,...,...,...,...,...
12406,M,Stratum_2,0.592105,0.70,0.743243,0.707071,0.858586,0.868687,0.811448,0.639640,0.0
12407,M,Stratum_2,0.434211,0.61,0.364865,0.383838,0.434343,0.101010,0.306397,0.418919,0.0
12408,M,Stratum_2,0.592105,0.75,0.432432,0.878788,0.898990,0.808081,0.861953,0.558559,0.0
12409,F,Stratum_3,0.592105,0.64,0.351351,0.797980,0.505051,0.070707,0.457912,0.481982,1.0
12410,M,Stratum_3,0.539474,0.62,0.635135,0.949495,0.909091,0.787879,0.882155,0.549550,0.0

Save normalized df

In [10]:
dfn.to_csv("df_normalized_score.csv")

# Standardized dataframe
Subtract mean and divide by standard deviation

In [11]:
#apply standardization to filtered original dataframe
dfs = df.copy()

# apply standardixation techniques

#df0["COL_GRADE_AVG"] = (df0["COL_GRADE_AVG_org"] - df0["COL_GRADE_AVG_org"].mean())/df0["COL_GRADE_AVG_org"].std() 
#df0["HI_GRADE_AVG\"] = (df0[\"HI_GRADE_AVG_org\"] - df0[\"HI_GRADE_AVG_org\"].mean())/df0[\"HI_GRADE_AVG_org\"].std()


for column in dfs.columns:
    try:
        dfs[column] = (dfs[column] - dfs[column].mean())/dfs[column].std()  
    except:
        pass
    
#Check means are 0 and std 1
print("mean column HI grade: ", dfs.HI_GRADE_AVG.mean(), "std column HI grade: ", dfs.HI_GRADE_AVG.std(),)
print("mean column COL grade: ", dfs.COL_GRADE_AVG.mean(), "std column COL grade: ", dfs.COL_GRADE_AVG.std(),)
    
#view normalized data
dfs

mean column HI grade:  -4.717486215988418e-16 std column HI grade:  1.0
mean column COL grade:  1.0534192521139186e-16 std column COL grade:  1.0

,GENDER,STRATUM,CR_S11,CC_S11,ENG_S11,CR_PRO,CC_PRO,ENG_PRO,COL_GRADE_AVG,HI_GRADE_AVG,GENDER_bin
0,F,Stratum_4,2.016939,0.029131,1.412733,1.113281,0.407467,1.000257,0.995599,1.371666,1.208684
1,F,Stratum_5,1.418487,0.523176,1.832378,-0.874678,0.924854,1.196373,0.484028,1.540112,1.208684
2,M,Stratum_2,-1.174802,-2.243479,-1.384905,-2.212033,-1.420633,-0.960904,-1.854585,-1.828806,-0.827279
3,F,Stratum_2,-0.576351,-0.958960,0.783264,-0.983113,0.579930,0.490355,0.030921,-0.144347,1.208684
4,M,Stratum_4,0.421068,1.511268,2.112142,1.149426,1.338764,1.274820,1.507171,1.674869,-0.827279
...,...,...,...,...,...,...,...,...,...,...,...
12406,M,Stratum_2,0.820036,0.918413,1.342792,0.318097,0.924854,0.764918,0.805587,1.236910,-0.827279
12407,M,Stratum_2,-0.376867,0.029131,-0.615555,-0.838534,-0.523829,-2.216048,-1.386863,-0.413860,-0.827279
12408,M,Stratum_2,0.820036,1.412458,-0.265850,0.932558,1.062824,0.529578,1.024832,0.630504,-0.827279
12409,F,Stratum_3,0.820036,0.325558,-0.685496,0.643400,-0.282382,-2.333717,-0.729128,0.057788,1.208684
12410,M,Stratum_3,0.421068,0.127940,0.783264,1.185571,1.097317,0.451132,1.112530,0.563126,-0.827279

Save standardized df

In [12]:
dfs.to_csv("df_standardized_score.csv")

# One hot encoding

In [13]:
# TODO

# Might be better to actually have in the xgboost regression notebook

#### Make list of paired lists

TODO skal dette herunder slettes???

In [14]:
df_document_features = df.copy()
df_document_features = df_document_features[["GENDER_bin", "HI_GRADE_AVG"]]

In [15]:
df.index.values

array([    0,     1,     2, ..., 12408, 12409, 12410], dtype=int64)

In [16]:
df_document_features = df_document_features.values.tolist()

In [17]:
doc_features = np.array(df_document_features)

In [18]:
#scores
doc_scores = df["COL_GRADE_AVG"].values
doc_scores

array([85.66666667, 74.        , 20.66666667, ..., 86.33333333,
       46.33333333, 88.33333333])

# Basic stats

In [19]:
df.groupby('GENDER').agg(['mean', 'median', 'std', 'count'])

           CR_S11                             CC_S11                          \
             mean median        std count       mean median        std count
GENDER
F       60.895300     61   9.873563  5043  59.959944     60   9.519411  5043
M       60.698426     61  10.128695  7368  61.215255     61  10.482293  7368

          ENG_S11                             CR_PRO                          \
             mean median        std count       mean median        std count
GENDER
F       61.451120     59  13.788398  5043  61.338687     66  27.322031  5043
M       62.040581     59  14.632306  7368  62.788409     69  27.886453  7368

           CC_PRO                            ENG_PRO                          \
             mean median        std count       mean median        std count
GENDER
F       58.573865     63  27.916715  5043  66.532421     72  24.757032  5043
M       59.606270     65  29.699867  7368  68.159473     76  25.969142  7368

       COL_GRADE_AVG                             HI_GRADE_AVG             \
                mean     median        std count         mean     median
GENDER
F          62.148324  64.333333  22.130980  5043    60.768788  60.000000
M          63.518051  66.333333  23.241055  7368    61.318087  60.666667

                        GENDER_bin
              std count       mean median  std count
GENDER
F        9.515054  5043          1      1  0.0  5043
M       10.140418  7368          0      0  0.0  7368

In [20]:
# Create subset of dataframe to use for plot
df = df.copy()
# df = df_norm.copy()
# df = df_stand.copy()

df_gen_soc_hc = df[['HI_GRADE_AVG', 'COL_GRADE_AVG', 'GENDER', 'STRATUM']]

# Columns are renamed to use in plot
df_gen_soc_hc = df_gen_soc_hc.rename(columns = {"HI_GRADE_AVG":"HI", "COL_GRADE_AVG":"COL"})
# Create dataframe with one column of both "HI" and "COL" and another column with respective average HI or COL grade
 # There will be 2*rows of the original df as there will be a "HI" and "COL" for each candidate
df_try = pd.melt(df_gen_soc_hc, id_vars=['GENDER', 'STRATUM']) 
df_try = df_try.rename(columns={"variable":"Average_grade"}) # rename columns to use for plot

#Show dataframe used for plotting
df_try.groupby(['GENDER','STRATUM']).agg(['mean', 'median', 'std', 'count'])

                      value
                       mean     median        std count
GENDER STRATUM
F      0          51.666667  55.000000  10.715796    12
       Stratum_1  53.946336  54.333333  16.379611  1410
       Stratum_2  58.464213  58.333333  16.853463  3288
       Stratum_3  62.586207  62.333333  16.144383  3364
       Stratum_4  68.344531  68.333333  15.574961  1280
       Stratum_5  71.251773  71.333333  15.408217   470
       Stratum_6  74.225191  74.333333  14.744012   262
M      0          50.687500  47.500000  20.305616    16
       Stratum_1  53.803619  54.000000  17.807713  2008
       Stratum_2  58.601607  58.333333  17.437410  4770
       Stratum_3  63.804838  63.666667  16.873636  4726
       Stratum_4  69.390192  69.666667  16.273921  1876
       Stratum_5  73.338358  73.333333  15.341889   796
       Stratum_6  75.954657  76.166667  14.699945   544

In [21]:

df_kat = df_gen_soc_hc.groupby(['GENDER','STRATUM']).agg(['mean', 'median', 'std', 'count'])
# df_kat_hi = df_gen_soc_hc.drop('COL')
print(df_kat.to_latex(index=False)) 
print(df_kat)

\begin{tabular}{rrrrrrrr}
\toprule
       HI &           & \multicolumn{4}{l}{COL} \\
     mean &    median &      std & count &      mean &    median &       std & count \\
55.166667 & 55.000000 & 7.247222 &     6 & 48.166667 & 49.000000 & 13.065221 &     6 \\
\midrule
56.015603 & 55.333333 & 8.350318 &   705 & 51.877069 & 51.000000 & 21.416365 &   705 \\
58.642539 & 57.666667 & 8.686909 &  1644 & 58.285888 & 59.666667 & 22.197416 &  1644 \\
61.313714 & 60.666667 & 9.007254 &  1682 & 63.858700 & 66.000000 & 20.906129 &  1682 \\
65.271875 & 65.333333 & 9.242706 &   640 & 71.417188 & 75.333333 & 19.524314 &   640 \\
68.412766 & 68.666667 & 9.461289 &   235 & 74.090780 & 79.666667 & 19.238921 &   235 \\
70.580153 & 70.666667 & 7.778184 &   131 & 77.870229 & 85.000000 & 18.686005 &   131 \\
50.916667 & 49.333333 & 8.127457 &     8 & 50.458333 & 43.666667 & 28.589563 &     8 \\
55.863214 & 55.000000 & 8.710494 &  1004 & 51.744024 & 51.666667 & 23.455926 &  1004 \\
58.428232 & 57.666667 & 9.024476 &  2385 & 58.774983 & 60.000000 & 22.951095 &  2385 \\
62.008887 & 61.333333 & 9.540761 &  2363 & 65.600790 & 69.000000 & 21.727402 &  2363 \\
66.195096 & 66.000000 & 9.631856 &   938 & 72.585288 & 77.666667 & 20.414503 &   938 \\
69.558626 & 70.666667 & 8.969164 &   398 & 77.118090 & 83.000000 & 19.032850 &   398 \\
72.220588 & 72.333333 & 8.481195 &   272 & 79.688725 & 86.500000 & 18.249768 &   272 \\
\bottomrule
\end{tabular}

                         HI                                   COL             \
                       mean     median       std count       mean     median
GENDER STRATUM
F      0          55.166667  55.000000  7.247222     6  48.166667  49.000000
       Stratum_1  56.015603  55.333333  8.350318   705  51.877069  51.000000
       Stratum_2  58.642539  57.666667  8.686909  1644  58.285888  59.666667
       Stratum_3  61.313714  60.666667  9.007254  1682  63.858700  66.000000
       Stratum_4  65.271875  65.333333  9.242706   640  71.417188  75.333333
       Stratum_5  68.412766  68.666667  9.461289   235  74.090780  79.666667
       Stratum_6  70.580153  70.666667  7.778184   131  77.870229  85.000000
M      0          50.916667  49.333333  8.127457     8  50.458333  43.666667
       Stratum_1  55.863214  55.000000  8.710494  1004  51.744024  51.666667
       Stratum_2  58.428232  57.666667  9.024476  2385  58.774983  60.000000
       Stratum_3  62.008887  61.333333  9.540761  2363  65.600790  69.000000
       Stratum_4  66.195096  66.000000  9.631856   938  72.585288  77.666667
       Stratum_5  69.558626  70.666667  8.969164   398  77.118090  83.000000
       Stratum_6  72.220588  72.333333  8.481195   272  79.688725  86.500000


                        std count
GENDER STRATUM
F      0          13.065221     6
       Stratum_1  21.416365   705
       Stratum_2  22.197416  1644
       Stratum_3  20.906129  1682
       Stratum_4  19.524314   640
       Stratum_5  19.238921   235
       Stratum_6  18.686005   131
M      0          28.589563     8
       Stratum_1  23.455926  1004
       Stratum_2  22.951095  2385
       Stratum_3  21.727402  2363
       Stratum_4  20.414503   938
       Stratum_5  19.032850   398
       Stratum_6  18.249768   272

# T-test

In [22]:
# T-test 
from scipy.stats import ttest_ind
df_try

      GENDER    STRATUM Average_grade      value
0          F  Stratum_4            HI  74.666667
1          F  Stratum_5            HI  76.333333
2          M  Stratum_2            HI  43.000000
3          F  Stratum_2            HI  59.666667
4          M  Stratum_4            HI  77.666667
...      ...        ...           ...        ...
24817      M  Stratum_2           COL  81.333333
24818      M  Stratum_2           COL  31.333333
24819      M  Stratum_2           COL  86.333333
24820      F  Stratum_3           COL  46.333333
24821      M  Stratum_3           COL  88.333333

[24822 rows x 4 columns]

In [34]:
df

,GENDER,STRATUM,CR_S11,CC_S11,ENG_S11,CR_PRO,CC_PRO,ENG_PRO,COL_GRADE_AVG,HI_GRADE_AVG,GENDER_bin
0,F,Stratum_4,81,61,82,93,71,93,85.666667,74.666667,1
1,F,Stratum_5,75,66,88,38,86,98,74.000000,76.333333,1
2,M,Stratum_2,49,38,42,1,18,43,20.666667,43.000000,0
3,F,Stratum_2,55,51,73,35,76,80,63.666667,59.666667,1
4,M,Stratum_4,65,76,92,94,98,100,97.333333,77.666667,0
...,...,...,...,...,...,...,...,...,...,...,...
12406,M,Stratum_2,69,70,81,71,86,87,81.333333,73.333333,0
12407,M,Stratum_2,57,61,53,39,44,11,31.333333,57.000000,0
12408,M,Stratum_2,69,75,58,88,90,81,86.333333,67.333333,0
12409,F,Stratum_3,69,64,52,80,51,8,46.333333,61.666667,1
12410,M,Stratum_3,65,62,73,95,91,79,88.333333,66.666667,0

In [43]:
# df_try.groupby(['GENDER','STRATUM'])
from scipy.stats import ttest_ind
# ttest_ind(df.groupby('STRATUM')['HI_GRADE_AVG'].apply(lambda x:list(x)))

stra1 = df[df['STRATUM']=='Stratum_1']
stra2 = df[df['STRATUM']=='Stratum_2']
stra3 = df[df['STRATUM']=='Stratum_3']
stra4 = df[df['STRATUM']=='Stratum_4']
stra5 = df[df['STRATUM']=='Stratum_5']
stra6 = df[df['STRATUM']=='Stratum_6']


# ttest_ind(stra2['HI_GRADE_AVG'], stra4['HI_GRADE_AVG'])
print(ttest_ind(stra1['HI_GRADE_AVG'], stra2['HI_GRADE_AVG']))
print(ttest_ind(stra2['HI_GRADE_AVG'], stra3['HI_GRADE_AVG']))
print(ttest_ind(stra3['HI_GRADE_AVG'], stra4['HI_GRADE_AVG']))
print(ttest_ind(stra1['HI_GRADE_AVG'], stra6['HI_GRADE_AVG']))

print(ttest_ind(stra1['COL_GRADE_AVG'], stra2['COL_GRADE_AVG']))
print(ttest_ind(stra2['COL_GRADE_AVG'], stra3['COL_GRADE_AVG']))
print(ttest_ind(stra3['COL_GRADE_AVG'], stra4['COL_GRADE_AVG']))
print(ttest_ind(stra1['COL_GRADE_AVG'], stra6['COL_GRADE_AVG']))

Ttest_indResult(statistic=-10.203213194949857, pvalue=3.086579278599312e-24)
Ttest_indResult(statistic=-15.800248924581846, pvalue=2.0855233020433856e-55)
Ttest_indResult(statistic=-14.74269869912174, pvalue=2.7094427445206465e-48)
Ttest_indResult(statistic=-33.44684166241017, pvalue=3.668921113150816e-197)
Ttest_indResult(statistic=-10.368220913911424, pvalue=5.741395568821294e-25)
Ttest_indResult(statistic=-12.84881757851618, pvalue=2.028856422302273e-37)
Ttest_indResult(statistic=-11.588163577055406, pvalue=1.054355595435454e-30)
Ttest_indResult(statistic=-22.524411997038197, pvalue=7.398003570443436e-101)